<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Covid-19</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/base.css">
    <link rel="stylesheet" href="~/Content/vendor.css">
    <link rel="stylesheet" href="~/Content/main.css">

    <!-- script
    ================================================== -->
    <script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/pace.min.js"></script>

    <!-- favicons
    ================================================== -->


</head>

<body id="top">
    <div id="sfc2xj1864kllqdcznlm7sltj22meu1cexw"></div>
    <script type="text/javascript" src="https://counter11.stat.ovh/private/counter.js?c=2xj1864kllqdcznlm7sltj22meu1cexw&down=async" async></script>
    <noscript><a href="https://www.contadorvisitasgratis.com" title="contadores para blogger"><img src="https://counter11.stat.ovh/private/contadorvisitasgratis.php?c=2xj1864kllqdcznlm7sltj22meu1cexw" border="0" title="contadores para blogger" alt="contadores para blogger"></a></noscript>



    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="~/Models/logoduoc.png" alt="Homepage">


            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Care-19</h3>

                <button id="button" style="color:#AB0493 ;background-color: rgb(248, 248, 248) ;">Notificaciones</button>
                <script src="js/main2.js"></script>



                <p>.</p>

                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="Models/fondo1.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                    Security
                </h1>

                <p>
                    Protegiendote en   <br>
                    todo lugar.
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li>@Html.ActionLink("Administrador", "Home", "Admin")
            <li>@Html.ActionLink("Profesionales", "Index", "Profesional")
            <li>@Html.ActionLink("Clientes", "Index", "Cliente")
        </ul> <!-- end home-sidelinks -->





    </section> <!-- end s-home -->
    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Seguridad</h3>
                <h1 class="display-1">Nuestra Empresa.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div align="justify" class="col-full">
                <p class="lead">
                    La seguridad de las personas y sus bienes es una materia muy delicada como la vida misma. SEGURIDAD SERGUS, orienta todos sus esfuerzos a la protección integral de las personas y sus bienes, entregando un servicio de excelencia y personalizado a cargo de profesionales fuertemente capacitados en el ámbito de la seguridad privada.
                    Nuestro objetivo es ofrecer y garantizar a nuestros clientes un servicio de seguridad confiable, de calidad e integral, que sea capaz de adaptarse a los cambios, disminuyendo los factores y posibilidades de riesgo, permitiéndoles enfocarse 100% en su negocio.
                </p>
                <center><img src="~/Models/casquito.jpg" alt="" width="700px" height="530px"></center>
            </div>
        </div> <!-- end about-desc -->






    </section> <!-- end s-about -->
    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Area</h3>
                <h1 class="display-1">Capacitaciones</h1>
            </div>
        </div> <!-- end section-header -->

        <div align="justify" class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">

                    Impactar en la cultura organizacional, fortaleciendo el liderazgo y la cohesión de los equipos, es fundamental para la sustentabilidad y crecimiento de las organizaciones.

                    <ol>
                        <li>Fortalecer los equipos a través del autoconocimiento y construcción de propósito compartido</li>
                        <li>
                            Incorporar prácticas efectivas que aumenten el desempeño de los equipos, tales como comunicación asertiva, liderazgo adaptativo, gestión del compromiso, manejo emocional y manejo de incertidumbre en contextos de crisis
                            Procesos de Coaching Personal
                        </li>
                        <li>
                            Acompañamiento de procesos de Desarrollo, Planificación y Ejecución de Gestión del Capital Humano (D.O. – Cambio Cultural – E.E.D.D. – Encuesta de Clima)
                        </li>
                    </ol>

                    <img src="~/Models/equipo1.jpeg" alt="" width="450px" height="450px" align="left"><img src="~/Models/equipo2.jpg" alt="" width="450px" height="470px" align="right">


                </p>
            </div>
        </div> <!-- end about-desc -->

    </section>

    <br />
    <hr />
    <br />



    <section id='services' class="s-services light-gray">

        <link rel="stylesheet" media="all" href="~/Content/style.css" />

        <div class="container">
            <div class="row">
                <h2>Contactanos</h2>
            </div>
            <div class="row">
                <h4 style="text-align:center">Si necesitas contactarnos lo puedes hacer a traves del siguiente formulario!</h4>
            </div>
            <div class="row input-container">
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" required />
                        <label>Nombre</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                        <input type="text" required />
                        <label>Correo Electronico</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float:right;">
                        <input type="text" required />
                        <label>Telefono</label>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Mensaje</label>
                        <textarea>Escriba su mensaje</textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="btn-lrg submit-btn">Enviar Formulario</div>
                </div>
            </div>
        </div>
    </section>

    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Localidad</h3>
                <h1 class="display-1">Ubicacion.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div align="justify" class="col-full">
                <p class="lead">
                    Puedes observar el mapa para saber donde nos encontramos, Estamos atentos a tus consultas!!!
                    <br />
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106521.88423401503!2d-70.70609220631664!3d-33.4542854311635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5410425af2f%3A0x8475d53c400f0931!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1635176277075!5m2!1ses-419!2scl" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center>

            </div>
        </div> <!-- end about-desc -->




    </section> <!-- end s-services -->
    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header">
            <div class="col-full">
                <h3 class="subhead subhead--light">Te ayudamos</h3>
                <h1 class="display-1 display-1--light">Tu seguridad en nuestras manos.</h1>

            </div>
        </div> <!-- end section-header -->









        <div class="row">
            <div class="col-full cl-copyright">
                <span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is create for N.A
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section> <!-- end s-contact -->
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link rel="stylesheet" media="all" href="~/Content/style.css" />
</body>

</html>


@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<p>Bienvenido, Seleccione alguno para iniciar sesión</p>


@Html.ActionLink("Administrador", "Home", "Admin")
@Html.ActionLink("Profesional", "Home", "Profesional")
@Html.ActionLink("Cliente", "Home", "Cliente")


