@{
    ViewBag.Title = "Home";
}

<h2>Bienvenido Profesional</h2>
<p>Seleccione alguna opcion</p>

<h2></h2>

@Html.ActionLink("Listado de Clientes", "List", "Cliente")
<br />
@Html.ActionLink("Crear Capacitacion", "Create", "Capacitacion")
<br />
@Html.ActionLink("Planificar Visita", "Create", "Visita")
<br />
@Html.ActionLink("Crear Asesoria", "Create", "Asesoria")
<br />
@Html.ActionLink("Ingresar Actividad Mejora", "Create", "Actividad")
<br />
@Html.ActionLink("Revisar Actividad Mejora", "Index", "Actividad")
<br />




